@mixin style-text($size, $color, $font, $pad1, $pad2) {
            color: $color;
            font-size: $size;
            font-family: $font, sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            padding: $pad1 $pad2;
  }

.container{
    position: fixed;
    z-index: 1;
    padding: 15px 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
    ul{
        li{
            @include style-text(16px, #FFFFFFE6 , "Montserrat", 8px, 16px);
            transition: all 0.2s linear;
        }
    }

    .header-list-item:hover{
        color:#ff6900;
    }

    .header-contacts a:first-child{
        transition: all 0.2s linear;
    }

    .header-contacts a:first-child:hover{
        color:#ff6900;
    }

    .header-contacts{
        align-items: center;
    }

    .header-contacts-item{
        @include style-text(16px, #FFFFFFE6 , "Montserrat", 8px, 8px);
    }

    
}

.section-container{
    background-image: url(/gym/images/gym-model.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    .content-section{
        position: relative;
       top:25rem;
       padding-left: 3rem;
    }
    h1{
        @include style-text(5rem, #FFFFFFE6 , "Montserrat", 8px, 8px); 
        font-weight: 500;
        
    }

    p{
        @include style-text(20px, #FFFFFFE6 , "Montserrat", 8px, 8px);
    }
}

main{
    //Послуги
    .main-services{
        background-color: black;
        
    }

    h1{
        @include style-text(2.5rem, #FFFFFFE6 , "Montserrat", 8px, 8px); 
        font-weight: 500;
        text-align: center;
        padding-top: 100px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li{
            width: 400px;
            height: 500px;
            background-color: #272829;
            margin: 16px;
            border-radius: 25px;

            img{
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                height: 290px;
                width: 100%;
                object-fit: cover;
            }

            p{
                @include style-text(22px, #FFFFFFE6 , "Montserrat", 30px, 30px);  
                font-weight: 500;
               
                
            }

        }
    }

    .services-item{
        position: relative;
        
    }

    .services-item-p::after{
        content: " ";
        position: absolute;
        width: 83%;
        height: 1px;
        left: 8%;
        bottom:80px;
        background: #5b514b74;
    }

    button{
        border: 1px solid rgba(180, 61, 61, 1);
        border-radius: 50%;
        position: absolute;
        left: 78%;
        bottom: 3%;
        padding: 3px 7px;
        transition: all 0.1s ease;
    }

    svg{
        color: rgba(180, 61, 61, 1);
        margin: auto 0;
        padding-top: 5px;
        transition: all 0.1s ease;
    }

    .services-item:hover{
    button{
        background: rgba(180, 61, 61, 1);

        svg{
            color:white;
        }
    }


}

//Блог

.main-blog{
    background-color: black;

    .blog-item{
        position: relative;
    }
    
    p{
        @include style-text(16px, #8895a0 , "Montserrat", 0, 30px); 
        padding-top: 30px;
        font-weight:lighter;
    }

    h4{
        @include style-text(22px, #FFFFFFE6 , "Montserrat", 20px, 30px);  
                font-weight: 500;
    }

    span{
        text-align: left;
        display: -webkit-box;
        @include style-text(16px, #FFFFFFE6 , "Montserrat", 0, 30px);  
    }

    .blog-item-span::after{
        content: " ";
        position: absolute;
        width: 83%;
        height: 1px;
        left: 8%;
        bottom:80px;
        background: #5b514b74;
    }

    .blog-list li:first-child{
        height: 570px;
    }
    .blog-list li:nth-child(2){
        height: 630px;
    }
    .blog-list li:nth-child(3){
        height: 570px;
    }

    .blog-item:hover{
        button{
            background: rgba(180, 61, 61, 1);
    
            svg{
                color:white;
            }
        }
    }
    
}

//Команда
.main-team{
    background-color: black;

    .team-item{
        position: relative;
    }

    li{
        width: 300px;
        height: 700px;

        img{
            height: 420px;
        }

        p{
            font-size: 20px;
            padding-bottom: 17px;
            text-align: center
        }

        span{
            @include style-text(16px, #8895a0 , "Montserrat", 0, 20px); 
            font-weight:lighter;
            text-align: center;
            display: block;
        }

        button{
            border-radius: 5px;
            left: 35%;
            bottom: 5%;
            color:rgba(180, 61, 61, 1);
            padding: 10px 15px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
        }
       
    }

    .team-list-btn{
        transition: all 0.1s ease;
    }

    .team-list-btn:hover{
            background: rgba(180, 61, 61, 1);
            color:white;
    }
}

//новини
.main-news{
    background-color: black;

    .news-item{
        position: relative;
    }

    li{
        width: 300px;
        height: 450px;

        p{
            @include style-text(16px, #8895a0 , "Montserrat", 30px, 30px); 
            font-weight:lighter;
            text-align: left;
        }

        a{
            @include style-text(16px, #FFFFFFE6 , "Montserrat", 0, 30px); 
            display: block;
            text-align: left;
            line-height: 1.2;
        }
    }

    .news-item-a{
        transition: all 0.1s ease;
    }

    .news-item-a:hover{
        color:#ff6900;
    }
}

}

.container-foot{
    position: relative;
}

.container-foot::after{
    content: " ";
    position: absolute;
    width: 85%;
    height: 1px;
    left: 8%;
    top:10%;
    background: #5b514b;
}


footer{

    .container-foot{
        height: 350px;
        background-color: black;
        display: flex;
        justify-content: space-around;
        padding-top: 5%;
    }

    p{
        @include style-text(13px, #FFFFFFCC , "Montserrat", 0, 0); 
        line-height: 1.5;
    }

    a{
        padding-right: 20px;
    }

    .footer-column1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }

    .footer-column2{
        position: relative;
       
        a{
            @include style-text(16px, #FFFFFFCC , "Montserrat", 0, 0); 
        }

        display: flex;
        flex-direction: column;
        gap:10px;
    }

    .footer-column3{
        a{
            @include style-text(16px, #FFFFFFCC , "Montserrat", 0, 0); 
        }
    }

    .footer-column4{
        width: 10%;
    }

    a{
        transition: all 0.1s ease; 
    }

    a:hover{
        color:#ff6900; 
    }
    
}
